#quadro{
    width: 950px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid black;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#clique{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

body{
    background-color: rgb(24, 172, 172);
}