* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 128, 145);
}

#container {
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 45, 157);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#container img {
    height: 400px;
    width: 400px;
    border-radius: 100px;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
}